.video-list-item {
  border-radius: var(--border-radius-default);
  overflow: hidden;
  margin-top: 12px;
}

.video-list-item--link {
  background-color: black;
  
}

.video-list-item-img {
  border-radius: var(--border-radius-default);
}
